<div class="col-md-6 offset-3">
    <div class="row">
        <h1 class="text-info">You have reached the end of the internet</h1>
    </div>
    <hr />
    <a class="btn btn-outline-success float-right" asp-controller="Movies" asp-action="Index">Home Page</a>
</div>